# Files and directories created by pub
.dart_tool/
.packages
pubspec.lock

# Directory created by dartdoc
doc/api/

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

# test files
filetest
filetest/*
filetest/pubspec_test.yaml

.vscode
